<div  class="container" >
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="color-text" id="exampleModalLabel">Wrong Email/Password</span>
                      <button class="btn btn-info color-text-white sariftext" data-dismiss="modal">OK</button>
                    </div>                           
                  </div>
                </div>
              </div>  
        
        <br>
        <br>
        <br>
<div class="card-group  justify-content-center " >
        <div class="card  col-md-6 card-login  shadow p-4 mb-4 bg-white border-left-login" > 
    
        </div>

        <div class="card   col-md-5  shadow p-4 mb-4 bg-light border-right-login" >
        
            <div class="card-body card-color " >
                <h3 class="color-text">Welcome Back :)</h3>
                <small>To keep you connected with us please login with your personal<br>
                        information by email address and password</small>
                        <br>                        
                        <br>
                        <br>
                    <form  #LoginForm="ngForm" enctype="multipart/form-data" (ngSubmit)= "LoginForm.form.valid && onSubmit(email.value,password.value)"  novalidate >   
                        
                        <div  class="form-group">                                  
                            <input type="email" class="form-control " (change)="onEmailChange()"  name="email1" placeholder=""  required  #email="ngModel" [(ngModel)]="User.email"                         
                            [class.is-invalid]="email.invalid && email.touched" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/> 
                            <label class="mdc-floating-label" for="email1">Email Address</label>
                            <br>
                        </div>   
                        <div  class="form-group"> 
                            <input type="password" class=" form-control"  name="password1" required  #password="ngModel" placeholder="" [(ngModel)]="User.password"
                            [class.is-invalid]="password.invalid && password.touched"/>                    
                            <label class="mdc-floating-label" for="password1">Password</label>
                           <br>    
                        </div >    
                                <mat-checkbox name="cbox" class = "example-margin" [(ngModel)]="CheckValue"> Remember Me!</mat-checkbox>
                            <div class="col-md-10 ">                                      
                                 <button  class="btn btn-info color-container color-text-white arialtext-small Inline  border-total " > Login Now </button>
                                 <button id="openModalButton" [hidden]="true" type="reset" data-toggle="modal" data-target="#exampleModal">Open Modal</button>
                                 <button  class="btn btn-white color-container color-text-white  arialtext-small  border-total " [disabled]="true" type="reset"  > Create Account</button>
                           
                            </div>  
                       
                    </form>
            </div>
              
           </div>        
        </div>           
</div>  
   