th, a
{
color: blueviolet;
padding: 1%;
}
th{
    border: 1px solid blueviolet;
    text-align: center;
 
}
table tr td{
    border: 1px solid blueviolet;
    text-align: center;
    
}
input{
    margin-top: 1%;
}
.active a{
    background-color: blueviolet;
}
.active a:hover {
background-color: blueviolet;
}
.sortactive{
    color:#08c4d0;
}
.table {
    margin-top: 20px;
  }
  .timer {
    margin-top: 70px;
    font-weight: bold;
    font-size: 20px;
  }
  @media only screen and (max-width:  414px) {
      .table {
          margin-top:80%;
      }
      .timer {
          margin-top: 75%;
      }
  
  }