<head>
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>


<body class="aaa">
<div>

        <div class="container">
                <div class="row">
                        <div class="col-md-7 img">
                                <img src="assets/bbb.jpg" alt="login" width="100%" height="500px" class="imageee">
                        </div>
                     
                        
                    <form name="login" #login ="ngForm" (ngSubmit) = "OnSubmit(login.value)" ng-model="currentUser" class="card-body">
                         <h2 class="text-style">Welcome Back :) </h2>
                        <p class="text-style1 popup"> To Keep Connected with us Please login with your<br/>personal information by email address and password</p>
                    
                              <div class="form-group"  class="login">
                                    <p class="Errorr popuptext" *ngIf="wrongemail==='true'||wrongpass==='true'">Invalid Data</p>
                              <div class="float-container">
                           <i class="iconlog fa fa-envelope"></i>  
                           <i class="fa iconset" [ngClass]="{'fa-check ': invalidd=='false', 'fa-times': invalidd=='true'}"></i>
                         
                           <div class="user-input-wrp">
                            <br/>
                            <input (change)="ValidateEmail()" type="email" #username="ngModel" name="Email" [(ngModel)]="user.username" [ngClass]="{'Error':wrongemail=='true' , 'setcolorr' : invalidd=='true'}" required/>
                            <span class="floating-label">Email Address</span>
                          </div>

                           <!-- <input id="email" placeholder="Email " (change)="ValidateEmail()" type="email" #username="ngModel" name="Email" [(ngModel)]="user.username" [ngClass]="{'Error':wrongemail=='true' , 'setcolorr' : invalidd=='true'}" required >
                            <br/><br/> -->

                         
                        </div>
                           <i class="iconlogg fa fa-lock"></i> 
                           <div class="user-input-wrp">
                            <br/>
                            <input type="password"  name="password"  [(ngModel)]="user.password"  [ngClass]="{'Error':wrongpass==='true'}" required/>
                            <span class="floating-label">Password</span>
                          </div>

                           <!-- <input type="password"  placeholder="Password" name="password"  [(ngModel)]="user.password"  [ngClass]="{'Error':wrongpass==='true'}" required/>
                           <span class="floating-label">Password</span> -->
                           <!-- <input type="password"  placeholder="Password" name="password"  [(ngModel)]="user.password"  [ngClass]="{'Error':wrongpass==='true'}" required><br/><br/> -->
                        
                           <h5>Forgot Password</h5>
                            <input type="checkbox" class="remember-me" 
                            [(ngModel)]="rememberMe"
                            [ngModelOptions]="{standalone: true}"
                            >
                            <label class="remember-me-label">Remember Me !</label> 
                           <div >
                                <br/> <input class="button" type="submit" placeholder="Submit">
                            </div>
                            <div class="textsettt">
                                You can also join us with : 
                                <div>
                                    <i class="fa fa-google iconsettt"></i>
                                    <i class="fa fa-facebook iconsettt"></i>
                                    <i class="fa fa-twitter iconsettt"></i>
                                    
                              
                                </div>
                            </div>
                        </div>
                  

                    
                    </form> 
                 
                    
                    </div>
                    </div>


    </div>
  
</body>

