
<head><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div>
        <div style="text-align: center" >
            <input (keydown)="Search($event)" type="text" name="search" placeholder="Search.." [(ngModel)]="SearchVal">
            <select class="form-control" name="job" style="width: 200px" [(ngModel)]="SearchCol" id="searchbar"> 
                <option value="" disabled hidden> Select column to search in</option>
                <option  selected>Id</option>
                <option >Name</option>
                <option >Email_Address</option>
                <option >Phone_Number</option>
                <option >File_Name</option>
            </select>
        </div>
        <div>
            
        </div>
    </div>
    
    
<form>
    <div style="text-align:center;">
        <button type="submit" class="button" routerLink="/input"> Register User </button>
    </div>
</form>
<table class="w3-table-all" id="myTable">
    <thead>
    <tr class="w3-light-grey">
        <th >Id</th>
        <th [class.headerSortDown]="nameh"><a (click)="Sort('name')"> Name</a></th>
        <th [class.headerSortDown]="emailh"><a (click)="Sort('email_address')">Email Address</a></th>
        <th [class.headerSortDown]="phoneh"><a (click)="Sort('phone_number')">Phone Number</a></th>
        <th [class.headerSortDown]="jobh"><a (click)="Sort('job_type')">Job Type</a></th>
        <th [class.headerSortDown]="fileh"><a (click)="Sort('fileName')">File Name</a></th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody id="myTableBody">
        <tr class="w3-hover-green" *ngFor="let u of user;let i = index">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email_address}}</td>
            <td>{{u.phone_number}}</td>
            <td>{{u.job_type}}</td>
            <td><a (click)="Download(u.fileName)">{{displaynames[i]}}</a></td>
            <td><a (click)="DeleteEntry(u.id)">delete | </a><a (click)="set_edit(u)"  routerLink="/edit">edit</a></td>
            
        </tr>
    </tbody>
</table>
<div class="container" style="text-align: center">
    <nav aria-label="Page navigation example">
        <ul class="pagination" *ngFor="let x of fakearray; let index = index" >
            <li class="page-item" [ngClass]="{'active': (index+1)==pagenum}"><a class="page-link" (click)= GetPage(index+1) >{{index+1}}</a></li>
        </ul>
    </nav>
</div>

</body>


