table td,
table th {
  border: 1px solid silver;
  cursor: pointer;
}

.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}

.headerSortDown:after {
  top: 10px;
  border-top-color: rgb(192, 192, 192);
}

.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: silver;
}

.headerSortDown,
.headerSortUp {
  padding-right: 10px;
}
table#myTable {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
}
.button {
  background-color: #1569C7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
}
.active a{
  background-color: green;
}
a:hover{
  background-color: grey !important;
}