.navbar {
    color: white;
    background-color: rgb(49, 4, 58);  
}

.btn {
    margin-top: 0.7%;
    color: white;
    background-color: #f4511e;
    float: right;
}

.navbar-brand {
    color: #f4511e;
}

a {
    color: white;
    text-justify: left;
}
// ul {
//     margin: auto;
//     float: none;
// }
li{
    margin-top: 3%;
    margin-right: 20%;
    justify-items: center;
}

