th {
    text-align: center;
    color: #f4511e;
}

thead {
    background-color: rgb(49, 4, 58);
}

td {
    text-align: center;
}

.Page navigation {
    float: right;
    margin:noen;
    align-content: center;
}
.active {
    color: rgb(49, 4, 58) !important;
    background-color: rgb(49, 4, 58) !important;
}