<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>


<div class ="marginn" >
    <nav>

      <div class="pull-right">
        Search
        <input type="date" name="calenderrr" (change)="searchingWithCalender()" [(ngModel)]="Searchingcalender" >
   
    </div>
 
</nav> 
</div>


<br>
<br>
<div appCheckAccess class="container">

  <table  class="table table-bordered table-striped">
      <thead class="thead-dark" class="text-info">
        <tr class="abc">
           <th><a (click) = "sort('Id')"> ID </a></th>
            <th class="aaaaa">
            <a (click) = "sort('Description')">Description</a>
            <input class=" aligntable" type="text" placeholder="Enter Description" (change)="searchLogs()" [(ngModel)]="value">
            </th>
             <th>
            <a (click) = "sort('Type')">Type</a>
            <select (change)="searchingData()" [(ngModel)]="SearchingData" name="abc" class="aaaaa">
                <option value="warn" >Warn</option>
                <option value="error">Error</option>
              </select>
            </th>
            <th >
            <a (click) = "sort('Created')" class="SetDateTime">Created</a>
            </th>
            <th>
              Option
            </th>
        </tr>
      </thead>
      <tbody scope="row" class="thead-light"  >
        <tr *ngFor="let com of logss">
          <td>{{com.id}}</td>
        
          <td id="description" class="ShowandHide"  >
            <button data-toggle="collapse" attr.data-target="#{{com.id}}"
              data-target="#showHideDescription">Show/Hide</button>
            <div id="{{com.id}}" class="collapse">{{ com.description }}</div>
          </td>
          <td> 
            {{com.type}}
          </td>
          <td>
              {{com.created}}
          </td>
          <td>
            <button (click)="remove(com)" class="btn btn-danger btn-sm" >Delete</button>
          </td>
        </tr>
      </tbody>
  </table>

  <nav aria-label="Page navigation example" class="pull-right">
        <ul class="pagination" *ngFor="let page of count; let x = index">
          <li class="page-item" [ngClass]="{'active': (x+1)==active}"><a class="page-link" (click)= "getPageData(x+1)">{{x+1}}</a></li>
        </ul>
      </nav>
</div>
</body>
</html>