
<div class="container container-table">
        <div class="row h-100 justify-content-center">
          <div class="signin">
            <div class="card-group">
              
              <div class="card orange-pic"> 
                <!-- picture here -->
                <div class="card-body text-center">
                  <font face="Comic sans MS" size="15">Welcome</font>
                  <p class="right-side">Learning to build website.</p>
                  <p class="right-side">Implementing back-end and front-end</p>
                </div>
              </div>
      
              <div class="card"> 
                <div class="card-body text-center">
                  <h4>Welcome to an Amazing place </h4>
                  <h2>RESET PASSWORD</h2>
                  <p class="last-heading">Welcome to First Design</p>
                  <!-- <form name="form" #resetPasswordForm ="ngForm" (ngSubmit) = "resetPasswordForm.form.valid" ng-model="currentUser" [formGroup]="resetPasswordForm"  > -->
                  <form name="form" ng-model="currentUser" [formGroup]="resetPasswordForm"  >
                    <div class="col-md-12" *ngIf="passwordUpdated==false">
                      <label class="error-label">Some error occured in reseting password. Please try again later!</label>
                    </div>
                    
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="Username">New Password:</label>
                      <div class="col-md-12 inputs">
                        <!-- <input class="form-control" type="password" #pwd="ngModel" name="pwd" placeholder="password"  [(ngModel)]="currentUser.stringPassword" [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && f.pwd.errors}" minlength="6" required>  -->
                        <input class="form-control" formControlName="pwd" type="password" name="pwd" placeholder="password"  [(ngModel)]="currentUser.stringPassword" [ngClass]="{ 'is-invalid':  f.pwd.errors && f.pwd.touched}"> 
                        <span class="error-label" *ngIf="f.pwd.errors?.required && f.pwd.touched">Password cannot be empty</span>
                        <span class="error-label" *ngIf="f.pwd.errors?.minlength && f.pwd.touched">Password length is less than 8 digits</span>
                      </div>
                    </div>

                    <div  >
                      <label class="col-md-12 control-label">Confirm Password:</label>
                      <div class="col-md-12">
                          <!-- <input class="form-control" type = "password" #confirmPass="ngModel" name = "confirmPassword" placeholder = "confirmPassword" [(ngModel)]="confirmPassword"  [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && confirmPass.invalid }" minlength="6" required > -->
                        <input class="form-control" type = "password" formControlName="confirmPassword" name = "confirmPassword" placeholder = "confirmPassword" [(ngModel)]="confirmPassword"  [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }"
                         [class.has-error]="f.confirmPassword.errors && f.confirmPassword.touched " [class.has-success]="f.confirmPassword.errors && f.confirmPassword.touched " minlength="6" required >
                        <span class="error-label" *ngIf="f.confirmPassword.errors?.required && f.confirmPassword.touched">Password cannot be empty</span>
                        <span class="error-label" *ngIf="f.confirmPassword.errors?.minlength && f.confirmPassword.touched">Password length is less than 8 digits</span>
                        <span class="error-label" *ngIf="f.confirmPassword.errors?.mustMatch && f.confirmPassword.touched">Passwords do not match</span>
                      </div>
                    </div>
                      <!-- <div class="col-md-12">
                        <input type="checkbox" class="remember-me" 
                        [(ngModel)]="rememberMe"
                        [ngModelOptions]="{standalone: true}"
                        >
                        <label class="remember-me-label">Remember Me!</label>
                      </div>
                      <input #buttonLogin class="btn btn-primary" type="submit" value = "Login"> -->
                    
                    <input #buttonLogin class="btn btn-primary" type="submit" value = "Reset Password" (click)="submitNewPassword()" [disabled]="!resetPasswordForm.valid">
                
                  </form>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </div>