
<div class="container container-table">
        <div class="row h-100 justify-content-center">
          <div class="signin">
            <div class="card-group">
              
              <div class="card orange-pic"> 
                <!-- picture here -->
                <div class="card-body text-center">
                  <font face="Comic sans MS" size="15">Welcome</font>
                  <p class="right-side">Learning to build website.</p>
                  <p class="right-side">Implementing back-end and front-end</p>
                </div>
              </div>
      
              <div class="card"> 
                <div class="card-body text-center">
                  <h4>Welcome to an Amazing place </h4>
                  <h2>RESET PASSWORD</h2>
                  <p class="last-heading">Welcome to First Design</p>
                  <form name="form" #resetPassword ="ngForm" (ngSubmit) = "resetPassword.form.valid" ng-model="currentUser">
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="Username">New Password:</label>
                      <div class="col-md-12 inputs">
                        <input class="form-control" type="password" #username="ngModel" name="password" placeholder="password"  [(ngModel)]="currentUser.stringPassword" [ngClass]="{ 'is-invalid': resetPassword.submitted && username.invalid }" required> 
                      </div>
                    </div>
      
                    
                      <div class="form-group" >
                        <label class="col-md-12 control-label" for="password">Confirm Password:</label>
                        <div class="col-md-12">
                          <input class="form-control" type = "password" #pwd="ngModel" name = "pwd" placeholder = "password"  [(ngModel)]="currentUser.stringPassword" [ngClass]="{ 'is-invalid': resetPassword.submitted && pwd.invalid }"  required >
                        </div>
                      </div>
                      <!-- <div class="col-md-12">
                        <input type="checkbox" class="remember-me" 
                        [(ngModel)]="rememberMe"
                        [ngModelOptions]="{standalone: true}"
                        >
                        <label class="remember-me-label">Remember Me!</label>
                      </div>
                      <input #buttonLogin class="btn btn-primary" type="submit" value = "Login"> -->
                    
                      <input #buttonLogin class="btn btn-primary" type="submit" value = "Reset Password" (click)="submitNewPassword()">
                
                  </form>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </div>