<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<nav class ="marginn">
  <ul class="navbar" class="bg-dark navbar-expand-sm navbar">
   
    <li><a [routerLink] = "['/logging']" (click)="checkout()" > <h4>ErrorLogging </h4></a></li>
    <li><a [routerLink] = "['/testpage1']"><h4> Test Page - 01 </h4></a></li>
    <li><a [routerLink] = "['/testpage2']"> <h4>Test Page - 02 </h4></a></li>
    <li class="abcc" (click)="logout()"> <a [routerLink]="['login']"  >Logout</a></li>
    <li class="aaaaaa">{{counter}}</li>
  </ul>
</nav>
<router-outlet></router-outlet>