.navbar{
    background-color: #0B5345 !important;
    color: white;
    padding: 4px;
    padding-left: 10px;
 
}
.aaaaaa
{
  text-align: right !important;
  margin-left: 718px;
}
.marginn
{
    text-decoration-style: none;
    color: #dddddd;
    text-align: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .abcc
  {
    float:right;
    text-align: right;
  }