
<!-- <nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
     <li> 
      <a routerLink="create">Create</a>
    </li>
  </ul>
</nav> -->
<h1>Employee Registration</h1>
<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand mb-0 h1 text-light" routerLink="/create-user" routerLinkActive="active">Create User</a>
  <a class="navbar-brand mb-0 h1 text-light" routerLink="/display-user" routerLinkActive="active">Display User List</a>

</nav>

<router-outlet></router-outlet>
