.barstyle
{
  background-color: #0B5345 !important;

  width: 100%;
}
.Countercheck
{
  
  margin-left: 643px;

}
.navbar-brand {
  text-align: left;
  background-color: #0B5345 !important;
}
.navbar {
 
  background-color: #0B5345 !important;
  color:white !important;
}
.navbar a {
   color:white !important;
}
h4{
  padding-right: 50px;
}
h5{
  padding-right: 50px;
}
.navbar-toggler
{
  //background-color: white;
  lighting-color: white;
}
@media only screen and (max-width: 414px)
{
  .navbar{
    position: absolute;
    width:200%;
  }
}



// .navbar{
//     background-color: #0B5345 !important;
//     color: white;
//    padding: 4px;
//    padding-left: 10px;
//   //  width: 100px;
 
// }
// .aaaaaa
// {
//   text-align: right !important;
//   margin-left: 718px;
// }
// .marginn
// {
//     text-decoration-style: none;
//     background-color: #0B5345 !important;
//     text-align: left;
//     width: 100%;
// }
// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     background-color: #333;
//   }
  
//   li {
//     float: left;
//   }
  
//   li a {
//     display: block;
//     color: white;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//   }
  
//   li a:hover {
//     background-color: #111;
//   }
//   .abcc
//   {
//     float:right;
//     text-align: right;
//   }