<br>
<br>
<br>
<div  class="container"> 
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this record?</h5>
            </div>
            <div class="modal-footer">         
              <button type="button" (click)="DeleteData(Delete_ID)"  class="btn btn-primary color-text-white sariftext  rounded-0 " data-dismiss="modal">Delete Record</button>
              <button type="button"class="btn btn-secondary color-text-white sariftext rounded-0 " data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>  


    <div class="col-md-2 float-right">
            <button routerLink='/inputview' class="btn btn-primary color-text-white sariftext btn-block rounded-0 mdbWavesEffect">Registeration</button>       
    </div>
        <br>
        <h2 class="color-text">{{Title}}</h2>
        <br>
      
            <table id="Tmain" class="table table-hover  sariftext shadow p-4 mb-4 bg-white" >
                <thead class="color-container sariftext color-text-white ">
                        <tr>               
                            <th *ngFor="let columns of ColVals" class="sariftext" [ngClass] ="{'color-text-blue' : _PageModel.SortBy==columns.Value}" (click)= "pageGet(_PageModel.CurrentPage,columns.Value)" scope="col">{{columns.Name}}</th>
                            <th class="sariftext" scope="col">Update Record</th>    
                        </tr>                
                </thead>
                <tbody>
                    <tr   *ngFor="let item of _PageModel.DataList">                
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.program}}</td>
                            <td>{{item.detail}}</td>
                            <td> <a routerLink='/outputview' (click)=GetFile(item.filename)>{{item.filename}}</a></td>
                            <td> <a routerLink='/inputview' (click)="GoToEdit(item)" >Update</a> |
                                <a  data-toggle="modal" data-target="#exampleModal" (click)="SetDeleteID(item.id)" routerLink='/outputview' >Delete</a>
                            </td>                                           
                    </tr>           
                </tbody>    
            </table>
       
            <br>
            <ul  class="pagination">
            <div *ngFor="let i of _TotalPages; let x = index">
                    <li   class="page-item " [ngClass] ="{'active' : _PageModel.CurrentPage==(x+1)}" >
                        <a (click)="pageGet(x+1)" class="page-link" >{{x+1}}</a>     
                    </li>
                </div>
            </ul>

</div>
<br>
<br>
<br>
