<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css">
<link rel="StyleSheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container" align="center">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Edit Account</h4>
            <form #userForm="ngForm" (ngSubmit)="onSubmit()" > 
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input required class="form-control" placeholder="Name" type="text" name="username" value="{{editU.name}}"
                     #name="ngModel"  pattern="^.{2,20}$" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="userModel.name" >
                </div>
                <small [class.d-none]="name.valid || name.untouched"><font color=red>Name is either empty or incorrect</font></small>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input required class="form-control" placeholder="Email address" type="email" name="email" 
                    #email="ngModel" [class.is-invalid]="email.invalid && email.touched" pattern="[\w-]+@([\w-]+\.)+[\w-]+" [(ngModel)]="userModel.email_address">
                </div>
                <small [class.d-none]="email.valid || email.untouched"><font color=red>Email is either empty or incorrect</font></small>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">+92</option>
                        <option value="1">+92</option>
                    </select>
                    <input class="form-control" placeholder="Phone number" type="text" name="phonenum" required
                    #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" [(ngModel)]="userModel.phone_number">
                </div>
                <small [class.d-none]="phone.valid || phone.untouched"><font color=red>Phone Number is either empty or incorrect</font></small>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <select class="form-control" name="job" [(ngModel)]="userModel.job_type">
                        <option selected=""> Select job type</option>
                        <option>Designer</option>
                        <option>Manager</option>
                        <option>Accounting</option>
                    </select>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Create password" type="password" name="password" required
                    #password="ngModel" pattern="^.{4,8}$" [class.is-invalid]="password.invalid && password.touched" [(ngModel)]="userModel.password">
                </div>
                <small [class.d-none]="password.valid || password.untouched"><font color=red>Password is either empty or incorrect</font></small>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input required class="form-control"  required placeholder="Repeat password" type="password">
                    
                </div>          
               
                    <div class="column" id="selector">
                        <input  #file type="file"  required class="btn btn-success btn-block" name="filename"  (change)="onFileChange($event)"/>
                    </div>
                    <div class="column">
                        <img [src]="imgURL" height="100" *ngIf="imgURL">
                    </div>
                                      
            
                <div>
                    <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary btn-block" > Validate  </button>
                    <small [class.d-none]="!userForm.form.invalid" ><font color="red">Please fill in the form</font></small>
                </div>
            </form>
            <br>
            <br>
            <form>
                <button type="submit" class="btn btn-primary btn-block" routerLink="/table">Table Views</button>
            </form>
        </article>
    </div>
</div>