/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
$common_color : #e31768;

main {
 
    position: relative;
}
.container img{
    max-height: 100px;
    max-width: 100px;
    border: 2px solid lightcyan;
    transition: 0.3s;
}
.container img:hover{
    background-color: $common_color;
    border: 2px solid $common_color;
}
body{
    background: url('assets/white-glitter-lights-background_batynrho__F0000.png');
}
.background-picture{
    background: url('assets/white-glitter-lights-background_batynrho__F0000.png');
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;  
  
}

.background-tabs{
    background-image:  url('assets/white-abstract-wallpaper-4.jpg');
}
.card-picture{
    background-image:  url('assets/b9bdkfck9dbcj8bj9cieggcejbgcebefdfbauArp.jpg');
    border-radius: 50px;
}
.card-login{
    background-image: url('assets/d74d92f2-df42-4a12-a64b-ce5835748bce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
}

.card-body{
    padding-top: 5% !important;  
}
.PadIt{
    padding-top: 70%;
}
.text-antiqua{
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif ;
   font-size: 15px !important;
}
.text-antiqua-title{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif ;
}
.sariftext{
    font-family: arial !important;
    font-weight: 200;       
    font-size: 15px !important ;
    text-indent: 10px; 
}
.arialtext-small{
    font-family: arial !important;
    font-size: 12px !important;
}
.push-left{
   padding-left: 60%;
}
.color-text{
    font-family: sans-serif;
    color: $common_color; 
}
.color-text-white{
    color: white;
    
}
.color-text-blue{
    color:#f5f256;
    font-weight: 600;
}
.color-container{
    background-color: $common_color;
}
.border-color{
    border-color: $common_color;
}
div .active a{
    background-color: $common_color !important;
    border-color: $common_color !important;
}
h3 a{
    background-color: blue !important;
    border-color: $common_color !important; 
}

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $common_color !important;
    border-color: $common_color !important;
    height: 40px;
   
}
.btn-white{
    background-color: white !important ;
}
.btn-white:hover{
    background-color: whitesmoke !important;
    transition: 0.03s;
}
.testclass{
    padding-top: 2px;
    margin-left: 60%;
    
  }
.Inline{
    display: inline-block !important;
    margin: 10px;
}
.border-left-login{
    border-radius: 10px 0 0 10px !important;
}
.border-right-login{
    border-radius: 0 10px 10px 0 !important;
}
.border-left{
    border-radius: 25px 0 0 25px !important;
}
.border-right{
    border-radius: 0 25px 25px 0 !important;
}
.border-total{
    border-radius: 20px !important;
}
 .border-total last-child first-child {
    border-bottom-left-radius: 10px;
}

.border-total last-child last-child {
    border-bottom-right-radius: 10px;
}


a:any-link {
    color:$common_color;
    background-color: transparent;
    text-decoration: none;
}
a:any-link:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
