.container {
    margin:10% 33.33%;
}
p {
    padding-top:10%;
}
.card {
    width: 30%;
    height: 20%;
    background-color:#E0E0E0;
    text-align: center;
    font-weight: bold;
}
.inputfeild {
    margin-top:10%;
    border-bottom:1px solid gray;
    width: 80%;
    background: #E0E0E0;
}
.inputfeild:focus {
    border: none;
    border-bottom: 1px solid black;
}
input[type=submit] {
width: 100%;
margin-top:10%;
}