<div class="container">
  <div class="card">
        <p>Reset Your Password</p>
        <form ngNativeValidate (ngSubmit)="SavePassword()">
            <input class="inputfeild" required type="password" placeholder="New Password" name="password" [(ngModel)]="password">
       <br>
       <br>
       <input class ="inputfeild" required type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword">
       <br>
       <br>
       <input type="submit" class="btn btn-success">
    </form>
  </div>
</div>